<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="wemailth=device-wemailth, initial-scale=1"/>
<title>アカウント登録</title>
</head>
<body>
<style type="text/css">
.input-error{
color:red;
}
</style>

<h1>アカウント登録</h1>
<form th:action="@{/accountregister}" th:object="${form}" method="post">
  name:<br><input type="text" th:field="*{name}" /><br>
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="input-error">name error</span><br>
  email:<br><input type="text" th:field="*{email}" /><br>
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="input-error">email error</span><br>
  password:<br><input type="password" th:field="*{password}" /><br>
  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="input-error">password error</span><br>
  confirmPassword:<br><input type="password" th:field="*{confirmPassword}" /><br>
  <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:class="input-error">password error</span><br>
  <button type="submit">送信</button>
</form>
</body>
</html>