<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>HOME</title>
</head>
<body>
<h1>ようこそ[[${user_name}]]様</h1></br>
ここはHOMEページです。

<div class="side-menu-container" id="side-menu-container">
  <div class="side-menu-header">
    <span class="side-menu-title"></span>
  </div>
  <ul class="side-menu clearfix">
    <li class="side-menu-item"><a href="/holder.web/book" alt="本一覧">本一覧</a></li>
    <li class="side-menu-item"><a href="/holder.web/movie" alt="動画一覧">動画一覧</a></li>
    <li class="side-menu-item"><a href="/holder.web/settings" alt="設定変更">設定変更</a></li>
  </ul>
</div>
<ul>
</ul>
</body>
</html>