<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="title" content="システムエラー"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>

  <!-- Common 
  <link rel="stylesheet" type="text/css" href="./reset.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="./common.css" media="all"/>
  PC
  <link rel="stylesheet" type="text/css" href="./pc.css" media="screen and (min-device-width:481px)"/>
  <!--スマホ
  <link rel="stylesheet" type="text/css" href="./iphone.css" media="only screen and (max-device-width:480px)"/>
　　
  <script type="text/javascript" src="./script.js"></script>
  -->
</head>
<body>
<div id="wrapper" class="wrapper">

<header id="header" role="banner" class="header">
  <h3>header!</h3>
</header>

<main id="main" role="main" class="main">
  <div class="main-container">
    <h1>システムエラーが発生しました。</h1>
  </div><!--.main-container-->
</main>

<footer id="footer" role="contentinfo" class="footer">
  <h3>footer</h3>
</footer>

</div><!-- .wrapper -->
</body>
</html>