<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>パスワード変更</title>
</head>
<body>
<style type="text/css">
.input-error{
color:red;
}
</style>

<h1>パスワード変更画面です</h1>
<form th:action="@{/settings/passchange}" th:object="${form}" method="post">
  password:<br><input type="password" th:field="*{password}" /><br>
  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="input-error">password error</span><br>
  New Password:<br><input type="password" th:field="*{newPassword}" /><br>
  <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" th:class="input-error">newPassword error</span><br>
  confirm New Password:<br><input type="password" th:field="*{confirmNewPassword}" /><br>
  <span th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}" th:class="input-error">confirmNewPassword error</span><br>
  <button type="submit">送信</button>
</form>
</body>
</html>