<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:p="http://www.springframework.org/schema/p"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:util="http://www.springframework.org/schema/util"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="
   	 http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd">
   
  <!-- bean id属性と同じ変数名へinjectionされるため、重複しないこと
                インジェクション対象の変数名は bean id属性と同一にすること -->
  <!-- アプリケーションプロパティ -->
  <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location"     value="classpath:properties/application.properties"/>    
    <property name="fileEncoding" value="${file.encoding}" />
  </bean>
  
  <!-- メッセージプロパティ -->
  <bean id="messageProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location"     value="classpath:properties/messages.properties"/>    
    <property name="fileEncoding" value="${file.encoding}" />
  </bean>

  <!-- システム日付プロパティ -->
  <bean id="dateTimeProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location"  value="classpath:properties/datetime.properties"/>
    <property name="fileEncoding" value="${file.encoding}" />    
  </bean>

  <!-- ファイル操作プロパティ -->
  <bean id="fileProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location"  value="classpath:properties/file.properties"/>
    <property name="fileEncoding" value="${file.encoding}" />    
  </bean>

  <!-- SQLプロパティ -->
  <bean id="sqlProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location"  value="classpath:properties/sql.properties"/>
    <property name="fileEncoding" value="${file.encoding}" />    
  </bean>
  
  <!-- template URL定義プロパティ -->
  <bean id="templateUrlProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="location"  value="classpath:properties/template_url.properties"/>
    <property name="fileEncoding" value="${file.encoding}" />    
  </bean>
</beans>